@model IEnumerable<BookingFlights.DataModel.Ticket>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}
<head>
	<link rel="stylesheet" href="~/css/ticket.css" asp-append-version="true" />
</head>

<ul class="tilesWrap">
	@foreach (var item in Model) {
	<li>
		<h2></h2>
		<h3>
			@Html.DisplayFor(modelItem => item.Type)
		</h3>
		<p>
			Price for this package is:
			@Html.DisplayFor(modelItem => item.Price)
		</p>
		<form method="index"  action="Seats">
                <input type="hidden" value="@item.FlightId" name="FlightId" />
				<input type="hidden" value="@item.Id" name="TicketId" />
                <input type="submit" value="Choose Seat" />
		</form>
	</li>
}