@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @using(Html.BeginForm("Index","FlightsUser",FormMethod.Get))
    {
   <b>Departure City:</b> 
   @Html.TextBox("DepartureCity")
   <br />
   <b>Arrival City:</b> 
   @Html.TextBox("ArrivalCity")
   <br />
   <b>Date:</b>
    <input type="date" id="DepartureDate" name="DepartureDate">
    <input type="submit" value="Search Flights" />
    }
</div>
