@model IEnumerable<BookingFlights.DataModel.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Your Bookings</h1>


<head>
    <link rel="stylesheet" href="~/css/booking.css" asp-append-version="true" />
</head>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
               
                <td>
                    <form action="Flights/Details/@item.FlightId">

                        <input type="submit" value="Flight Details" />
                    </form>
                </td>
                <td>
                    <form action="Seats/Details/@item.SeatId">

                        <input type="submit" value="Seat Details" />
                    </form>
                </td>
                <td>
                    <form action="Tickets/Details/@item.TicketId">

                        <input type="submit" value="Ticket Details" />
                    </form>
                   
                </td>
            </tr>
        }
    </tbody>
</table>
